### MISC FILES ###
TODO
.env
data/db/
# data/**/*.json
/node_modules/

### TEMPORARY FILES ###
**/__pycache__/
**/*.log
**/*.bak

### PACKAGER FILES ###
package-lock.json
poetry.lock
pyproject.toml
requirements.txt