body {background-color: #000; color: #fff;}
h1 {font-family: Monospace;}
h2 {font-family: Monospace;}
h3 {font-family: Monospace;}
h4 {font-family: Monospace;}
h5 {font-family: Monospace;}
h6 {font-family: Monospace;}
p {font-family: Monospace;}
b {font-family: Monospace;}
i {font-family: Monospace;}
u {font-family: Monospace;}
ol {font-family: Monospace;}
ul {font-family: Monospace;}
li {font-family: Monospace;}