{% extends "base.html" %}

{% block page_title %}trashbot commands{% endblock %}
{% block og_title %}trashbot command list{% endblock %}
{% block og_desc %}a list of trashbots commands{% endblock %}

{% block head %}<style>h2 {padding-top:4px;} li {padding-bottom: 2px} b {font-size: 14px}</style>{% endblock %}

{% block content %}

<p align="center">trashbot is online!</p>
	
<div style="padding:0 15% 0 15%;">

	<h1 align="center">trashbot command list</h1><br>

	{% for ctg in ctgs: %}
		</ul><h2>{{ ctg }}</h2><ul>
			<p style="font-size:14px">{{ ctgs[ctg]['desc'] }}</p>
				{% for cmd in ctgs[ctg]['cmds'] %}
          {% if 'desc' not in ctgs[ctg]['cmds'][cmd] %}
          {% else %}
					  <li><b>{{ ctgs[ctg]['cmds'][cmd]['usage'] }}</b>  :  {{ ctgs[ctg]['cmds'][cmd]['desc'] }} {{ ctgs[ctg]['cmds'][cmd]['perms'] }}</li>
          {% endif %}
				{% endfor %}
	{% endfor %}

</ul></div><br>

{% endblock %}
