<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" src="/static/favicon.ico" type='image/x-icon' />
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
	<title>rhc ooc</title>
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="trashbot">
	<meta property="og:title" content="least funny page on the internet">
	<meta property="og:description" content="do not click or you will die instantly">
	<style>
		h3 {padding-top:2px;}
		li {padding-bottom: 2px}
		b {font-size: 14px}
	</style>
</head>

<body>

<div style="padding:0 15% 0 15%;">

	<br><h1 align="center">funny rhcooc screenshots LOL</h1>	

	{% for url in rhcooc_list: %}
		<h3>{{ url }}</h3>
			<img style="width:50%;height:auto" src="{{ url }}"/>
		<br><br>
	{% endfor %}

</div><br>

</body>
</html>