{% extends "base.html" %}

{% block page_title %}trashbot rhcooc{% endblock %}
{% block og_title %}least funny page on the internet{% endblock %}
{% block og_desc %}do not click or you will die instantly{% endblock %}

{% block head %}<style>h2 {padding-top:2px;} li {padding-bottom: 2px} b {font-size: 14px}</style>{% endblock %}

{% block content %}

<div style="padding:0 15% 0 15%;text-align:center">

	<br><h1 align="center">funny rhcooc screenshots LOL</h1>	

	{% for url in rhcooc_list: %}
		<h3>{{ url }}</h3>
			<img style="width:50%;height:auto" align="center" src="{{ url }}"/>
		<br><br>
	{% endfor %}

</div><br>

{% endblock %}