{% extends "base.html" %}

{% block page_title %}list of tags{% endblock %}
{% block og_title %}{{ og_name }}{% endblock %}
{% block og_desc %}{{ og_description }}{% endblock %}

{% block head %}<style>h2 {padding-top:2px;} li {padding-bottom: 2px} b {font-size: 14px}</style>{% endblock %}

{% block content %}

<div style="padding:0 15% 0 15%;">

	<br><h1 align="center">{{ header }}</h1>	

	{% for tag in tags_list: %}
		{% if search == True: %}
			{% if tags_list[tag]['owner'] == user_id: %}
				<h3>{{ tag }}</h3>
					<ul>
						<li><b>date:</b> {{ tags_list[tag]['date'] }}</li>
						<li><b>content:</b> {{ tags_list[tag]['content'] }}</li>
					</ul>
			{% endif %}
		{% else %}
				<h3>{{ tag }}</h3>
					<ul>
						<li><b>date:</b> {{ tags_list[tag]['date'] }}</li>
						<li><b>owner:</b> {{ tags_list[tag]['owner'] }}</li>
						<li><b>content:</b> {{ tags_list[tag]['content'] }}</li>
					</ul>
		{% endif %}
	{% endfor %}

</div><br>

{% endblock %}
