<html>
<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" src="https://elisttm.space/favicon.ico" type='image/x-icon' />
	<link rel="shortcut icon" href="https://elisttm.space/favicon.ico">
	<title>trashbot command list</title>
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="trashbot">
	<meta property="og:title" content="list of commands">
	<meta property="og:description" content="a simple list of every command">
</head>

<body bgcolor="black">
	
<font color="white" face="Monospace">
	<p align="center">trashbot is online! | v{{ version }}</p>
	
<div style="padding:0 10% 0 10%">
	<h1 align="center">trashbot command list</h1>

	{% for cog in cmd.commands: %}

		</p><h3 style="margin-left:4%">{{ cog }}</h3><p>
			
			{% for _cogctg, _cmdctg in cmd.commands.items(): %}
				{% if _cogctg == cog: %}
					{% for x, y in _cmdctg.items(): %}

					<b>{{ x }}</b> - {{ y }}<br>

					{% endfor %}
				{%endif %}
			{% endfor %}
	
	{% endfor %}

</div></font><br>

</body>
</html>